/* Fonts */
/* font-family: 'Lato', sans-serif; (principal) */
/* font-family: 'Open Sans', sans-serif; (Bold) */


/* Configuração Geral */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    /* background-color: #171717; */
    background-color: #1f1f1f;
    /* background-color: white; */
}



/* Celular 600px */

@media(max-width: 600px) {

  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
  }
  
  :root {
    --primary: #ec994b;
    --white: #ffffff;
    --bg: #f5f5f5;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }
  
  @media (min-width: 1440px) {
    html {
      zoom: 1.5;
    }
  }
  
  @media (min-width: 2560px) {
    html {
      zoom: 1.7;
    }
  }
  
  @media (min-width: 3860px) {
    html {
      zoom: 2.5;
    }
  }
  
  ::-webkit-scrollbar {
    width: 1.3rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #222224;
  }
  
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }
  
  body {
    font-size: 1.6rem;
    background-color: #1f1f1f;
  }
  
  .container {
    max-width: 124rem;
    padding: 0 1rem;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .section-heading {
    font-size: 3rem;
    color: var(--primary);
    padding: 2rem 0;
  }
  
  #tranding {
    padding: 4rem 0;
  }
  
  @media (max-width:1440px) {
    #tranding {
      padding: 1rem 0;
    }
  }
  
  #tranding .tranding-slider {
    height: 52rem;
    padding: 2rem 0;
    position: relative;
  }
  
  @media (max-width:500px) {
    #tranding .tranding-slider {
      height: 45rem;
    }
  }
  
  .tranding-slide {
    width: 37rem;
    height: 42rem;
    position: relative;
  }
  
  @media (max-width:500px) {
    .tranding-slide {
      width: 28rem !important;
      height: 36rem !important;
    }
    .tranding-slide .tranding-slide-img img {
      width: 28rem !important;
      height: 36rem !important;
    }
  }
  
  .tranding-slide .tranding-slide-img img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  
  .tranding-slide .tranding-slide-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .tranding-slide-content .food-price {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--white);
  }
  
  .tranding-slide-content .tranding-slide-content-bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--white);
  }
  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  
  .tranding-slider-control {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tranding-slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
  }
  
  @media (max-width:990px) {
    .tranding-slider-control .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }
  }
  
  @media (max-width:450px) {
    .tranding-slider-control .swiper-button-next {
      left: 80% !important;
      transform: translateX(-80%) !important;
    }
  }
  
  @media (max-width:990px) {
    .tranding-slider-control .swiper-button-prev {
      left: 30% !important;
      transform: translateX(-30%) !important;
    }
  }
  
  @media (max-width:450px) {
    .tranding-slider-control .swiper-button-prev {
      left: 20% !important;
      transform: translateX(-20%) !important;
    }
  }
  
  .tranding-slider-control .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .tranding-slider-control .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
  }
  
  .tranding-slider-control .slider-arrow::after {
    content: '';
  }
  
  .tranding-slider-control .swiper-pagination {
    position: relative;
    width: 15rem;
    bottom: 1rem;
  }
  
  .tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
  }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    .header-fixed {
        width: 100%;
        height: 60px;
        background-color: rgb(28, 28, 28);
    }

    .header-contain {
        position: fixed;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgb(40, 40, 40);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 100%;
        height: 60px;
        background-color: rgba(28, 28, 28, 0.607);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        z-index: 999999;
        box-shadow: 0px 7px 15px -3px rgba(70, 70, 70, 0.1);
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 60px;
    }

    .logo-container {
        width: 50%;
        height: 60px;
    }

    #logo-guide {
        width: 150px;
        margin-top: 5px;
    }

    .buttons-header {
      display: none;
    }

    .menu-div {
      width: 10%;
      height: 60px;
    }

    #menu {
      margin-top: 15px;
      margin-left: 10px;
      width: 27px;
    }

    .buttons-header {
      display: none;
      width: 90%;
      padding-left: 40px;
      margin-left: 60px;
    }
    
    .menu-options-div {
      width: 100%;
      height: 190px;
      display: none;
      justify-content: center;
      position: fixed;
      opacity: 0;
      margin-top: 50px;
      top: -100px;
      animation: appear 1s forwards;
      z-index: 999999;
    }

    .menu-fechar {
      width: 100%;
      height: 190px;
      display: flex;
      justify-content: center;
      position: fixed;
      opacity: 0;
      top: -100px;
      animation: disappear 1s forwards;
      z-index: 999999;
    }

    @keyframes appear {
      0% {
        opacity: 0;
        top: -100px;
      }
      100% {
        opacity: 1;
        top: 0;
      }
    }

    @keyframes disappear {
      0% {
        opacity: 1;
        top: 0;
      }
      100% {
        opacity: 0;
        top: -100px;
      }
    }

    .menu-contain {
      display: flex;
      justify-content: center;
      width: 90%;
      height: 220px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-top: 10px;
      background-color: rgba(28, 28, 28, 0.742);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      padding: 10px;
    }

    .menu-content {
      width: 100%;
      height: 280px;
    }

    .options {
      width: 100%;
      height: 50px;
      border-radius: 10px;
      background-color: #ff8800;
      justify-content: center;
      margin-top: 10px;
      display: flex;

    }

    .options p {
      margin-top: 15px;
    }

    /* Main */

    .text-main-container {
      margin-top: 10px;
        width: 100%;
        height: 120px;
    }

    .text-main-content {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
    }

    .text-main-content p {
        text-align: center;
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        color: #ff8800;
    }

    .text-main-content-2 {
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 60px;
        font-size: 20px;
        
    }

    .depo-desktop {
      display: none;
    }

    .obras-1-content {
      display: none;
    }

    .text-main-content-2 span {
        font-family: 'Open Sans', sans-serif;
    }

    .pdt-procurados {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 40px;
        margin-top: 10px;
    }

    .pdt-content {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 20px;
    }

    .pdt-content p {
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        margin-top: 20px;
    }

    @media (max-width: 373px) {
        .text-main-content p {
            text-align: center;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            color: #ff8800;
        }

        .text-main-content-2 {
            text-align: center;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 60px;
            font-size: 18px;
        }

        .pdt-content p {
            font-size: 17px;
        }
    
    }

    .produto-1 {
        display: flex;
        margin-top: 20px;
        width: 100%;
        height: 150px;
    }

    .detail-1 {
        width: 30%;
        height: 150px;
    }

    #detalhe-1 {
        width: 110px;
        height: 140px;
    }

    .produto-name {
        display: flex;
        justify-content: center;
        width: 70%;
        height: 140px;
    }

    .produto-name p {
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        font-family: 'Open Sans', sans-serif;
    }

    .produto-name a {
        text-decoration: none;
    }

    .produto-2 {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        height: 150px;
    }

    .produto-name-2 {
        display: flex;
        justify-content: center;
        width: 70%;
        height: 140px;
    }

    .produto-name-2 p {
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        font-family: 'Open Sans', sans-serif;
    }

    .produto-name-2 a {
        text-decoration: none;
    }

    .detail-2 {
        display: flex;
        justify-content: end;
        width: 30%;
        height: 150px;
    }

    #detalhe-2 {
        width: 110px;
        height: 140px;
    }

    .pdt-button-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
    }

    .pdt-button-contain {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 40px;
    }

    #button-pdt {
        width: 300px;
        height: 45px;
        background-color: #00b60c;
        border: none;
        border-radius: 25px;
        font-size: 26px;
        color: rgb(25, 25, 25);
        font-family: 'Open Sans', sans-serif;
        box-shadow: 0px 0px 15px 0px #1b870590;
    }
    

    .divisor {
        width: 100%;
        height: 10px;
        margin-top: 40px;
        background-color: #242424;
    }

    .divisory {
        width: 100%;
        height: 10px;
        background-color: #242424;
    }

    .white-block-1 {
        width: 100%;
        height: 590px;
        background-color: rgb(25, 25, 25);
    }

    @media (min-width: 501px) {

      .white-block-1 {
        width: 100%;
        height: 660px;
        background-color: rgb(25, 25, 25);
    }

    }

    .btn-pjt-div {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
    }

    .button-pjt-content {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
    }

    #btn-pjt {
      width: 300px;
      height: 45px;
      background-color: #00b60c;
      border: none;
      border-radius: 25px;
      font-size: 26px;
      color: rgb(25, 25, 25);
      font-family: 'Open Sans', sans-serif;
      box-shadow: 0px 0px 15px 0px #1b870590;
    }

    .opinion-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
    }

    .opinion-text {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 40px;
    }

    .opinion-text p {
        font-family: 'Open Sans', sans-serif;
        font-size: 23px;
        margin-top: 20px;
    }

    .lines-desktop {
      display: none;
    }
    
    .black-block {
        width: 100%;
        height: 470px;
        background-color: rgb(25, 25, 25);
    }

    .localizacao-div {
        display: flex;
        justify-content: center;
        /* margin-top: 20px; */
        width: 100%;
        height: 40px;
    }

    .localizacao-text {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 40px;
        margin-top: 20px;
    }

    .localizacao-text p {
        font-family: 'Open Sans', sans-serif;
        font-size: 23px;
    }

    .maps-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 300px;
    }

    .maps-content {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 300px;
    }

    #maps {
        object-fit: cover;
        width: 370px;
        margin-top: 20px;
        border-radius: 30px;
        box-shadow: 0px 17px 22px -3px rgba(0,0,0,0.1);
    }

    .maps-text-container{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        height: 40px;
    }

    .maps-text-content {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 40px;
        margin-bottom: 20px;
    }

    .maps-text-content p {
        font-size: 17px;
        color: #686868;
        margin-bottom: 20px;
    }

    .button-map-div {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
    }

    .button-map-content {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 40px;
    }

    #btn-map {
        width: 145px;
        height: 35px;
        background-color: #ff8800;
        border: none;
        border-radius: 20px;
        font-size: 20px;
        margin-top: 20px;
    }

    .sn-div {
      display: flex;
      justify-content: center;
      /* margin-top: 20px; */
      width: 100%;
      height: 40px;
  }

  .sn-text {
      display: flex;
      justify-content: center;
      width: 90%;
      height: 40px;
      margin-top: 20px;
  }

  .sn-text p {
      font-family: 'Open Sans', sans-serif;
      font-size: 23px;
  }

  .sn-container {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 350px;
  }

  .sn-content {
      display: flex;
      justify-content: center;
      width: 90%;
      height: 300px;
  }

  #sobre-nos {
      object-fit: cover;
      width: 370px;
      margin-top: 20px;
      border-radius: 30px;
      box-shadow: 0px 17px 22px -3px rgba(0,0,0,0.1);
  }    

    /* alterar */
    @media (max-width: 401px) {
        
        #maps {
            object-fit: cover;
            width: 300px;
        }
    }

    footer {
        width: 100%;
        height: 100px;
        background-color: #292929;
    }

    .down-information {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 30px;
    }

    .down-information p {
        margin-top: 20px;
        color: #414141;
    }

    .credits {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 30px;
    }

    .credits p {
        color: #414141;
    }

    .credits a {
        margin-top: 10px;
        text-decoration: none;
    }
}

/* Notebook */

@media (min-width: 601px) {

  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
  }
  
  :root {
    --primary: #ec994b;
    --white: #ffffff;
    --bg: #f5f5f5;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }
  
  @media (min-width: 1440px) {
    html {
      zoom: 1.5;
    }
  }
  
  @media (min-width: 2560px) {
    html {
      zoom: 1.7;
    }
  }
  
  @media (min-width: 3860px) {
    html {
      zoom: 2.5;
    }
  }
  
  ::-webkit-scrollbar {
    width: 1.3rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #222224;
  }
  
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }
  
  body {
    font-size: 1.6rem;
    background-color: #1f1f1f;
  }
  
  .container {
    max-width: 124rem;
    padding: 0 1rem;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .section-heading {
    font-size: 3rem;
    color: var(--primary);
    padding: 2rem 0;
  }
  
  #tranding {
    padding: 4rem 0;
  }
  
  @media (max-width:1440px) {
    #tranding {
      padding: 1rem 0;
    }
  }
  
  #tranding .tranding-slider {
    height: 52rem;
    padding: 2rem 0;
    position: relative;
  }
  
  @media (max-width:500px) {
    #tranding .tranding-slider {
      height: 45rem;
    }
  }
  
  .tranding-slide {
    width: 37rem;
    height: 42rem;
    position: relative;
  }
  
  @media (max-width:500px) {
    .tranding-slide {
      width: 28rem !important;
      height: 36rem !important;
    }
    .tranding-slide .tranding-slide-img img {
      width: 28rem !important;
      height: 36rem !important;
    }
  }
  
  .tranding-slide .tranding-slide-img img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  
  .tranding-slide .tranding-slide-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .tranding-slide-content .food-price {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--white);
  }
  
  .tranding-slide-content .tranding-slide-content-bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--white);
  }
  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  
  .tranding-slider-control {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tranding-slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
  }
  
  @media (max-width:990px) {
    .tranding-slider-control .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }
  }
  
  @media (max-width:450px) {
    .tranding-slider-control .swiper-button-next {
      left: 80% !important;
      transform: translateX(-80%) !important;
    }
  }
  
  @media (max-width:990px) {
    .tranding-slider-control .swiper-button-prev {
      left: 30% !important;
      transform: translateX(-30%) !important;
    }
  }
  
  @media (max-width:450px) {
    .tranding-slider-control .swiper-button-prev {
      left: 20% !important;
      transform: translateX(-20%) !important;
    }
  }
  
  .tranding-slider-control .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .tranding-slider-control .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
  }
  
  .tranding-slider-control .slider-arrow::after {
    content: '';
  }
  
  .tranding-slider-control .swiper-pagination {
    position: relative;
    width: 15rem;
    bottom: 1rem;
  }
  
  .tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
  }

  .swiper-button-prev {
    display: none;
}

.swiper-button-next {
    display: none;
}

.lines-desktop {
  display: none;
}

.header-fixed {
    width: 100%;
    height: 60px;
    background-color: rgb(28, 28, 28);
}

.header-contain {
    position: fixed;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(40, 40, 40);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 60px;
    background-color: rgba(28, 28, 28, 0.607);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 999999;
    box-shadow: 0px 7px 15px -3px rgba(70, 70, 70, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 60px;
}

.logo-container {
    width: 50%;
    height: 60px;
}

#logo-guide {
    width: 150px;
    margin-top: 5px;
}

.obras-1-content {
  display: none;
}

.depo-desktop {
  display: none;
}

.buttons-header {
  display: flex;
  justify-content: end;
  width: 90%;
  padding-left: 40px;
  margin-left: 60px;
}

.buttons-header ul {
  display: flex;
  font-size: 13px;
  margin-left: 20px;
}

.buttons-header li {
  margin-top: 20px;
  margin-right: 10px;
  display: flex;
}

#bolsa-compras {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

#telefone {
  width: 16px;
  height: 16px;
  margin-top: 20px;
}

#instagram {
  width: 16px;
  height: 16px;
  margin-top: 20px;
}

@media (max-width: 680px) {
  .buttons-header ul {
    display: flex;
    font-size: 13px;
    /* margin-left: 20px; */
  }

  .buttons-header li {
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
  }

  .buttons-header {
    display: flex;
    justify-content: end;
    width: 90%;
    padding-left: 30px;
    margin-left: 0px;
  }

}

.menu-div {
  display: none;
  width: 10%;
  height: 60px;
}

#menu {
  margin-top: 15px;
  margin-left: 10px;
  width: 27px;
}

.menu-options-div {
  width: 100%;
  height: 190px;
  display: none;
  justify-content: center;
  position: fixed;
  opacity: 0;
  margin-top: 50px;
  top: -100px;
  animation: appear 1s forwards;
  z-index: 999999;
}

.menu-fechar {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
  position: fixed;
  opacity: 0;
  top: -100px;
  animation: disappear 1s forwards;
  z-index: 999999;
}

@keyframes appear {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -100px;
  }
}

.menu-contain {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 220px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
  background-color: rgba(28, 28, 28, 0.742);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 10px;
}

.menu-content {
  width: 100%;
  height: 280px;
}

.options {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #ff8800;
  justify-content: center;
  margin-top: 10px;
  display: flex;

}

.options p {
  margin-top: 15px;
}

/* Main */

.text-main-container {
  margin-top: 10px;
    width: 100%;
    height: 120px;
}

.text-main-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.text-main-content p {
    text-align: center;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color: #ff8800;
}

.text-main-content-2 {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 20px;
    
}

.text-main-content-2 span {
    font-family: 'Open Sans', sans-serif;
}

.pdt-procurados {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.pdt-content {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 20px;
}

.pdt-content p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

@media (max-width: 373px) {
    .text-main-content p {
        text-align: center;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        color: #ff8800;
    }

    .text-main-content-2 {
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 60px;
        font-size: 18px;
    }

    .pdt-content p {
        font-size: 17px;
    }

}

.produto-1 {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 150px;
}

.detail-1 {
    width: 30%;
    height: 150px;
}

#detalhe-1 {
    width: 110px;
    height: 140px;
}

.produto-name {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 140px;
}

.produto-name p {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

.produto-name a {
    text-decoration: none;
}

.produto-2 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
}

.produto-name-2 {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 140px;
}

.produto-name-2 p {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

.produto-name-2 a {
    text-decoration: none;
}

.detail-2 {
    display: flex;
    justify-content: end;
    width: 30%;
    height: 150px;
}

#detalhe-2 {
    width: 110px;
    height: 140px;
}

.pdt-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.pdt-button-contain {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 40px;
}

#button-pdt {
    width: 300px;
    height: 45px;
    background-color: #00b60c;
    border: none;
    border-radius: 25px;
    font-size: 26px;
    color: rgb(25, 25, 25);
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 0px 15px 0px #1b870590;
}


.divisor {
    width: 100%;
    height: 10px;
    margin-top: 40px;
    background-color: #242424;
}

.divisory {
    width: 100%;
    height: 10px;
    background-color: #242424;
}

.white-block-1 {
    width: 100%;
    height: 590px;
    background-color: rgb(25, 25, 25);
}

@media (min-width: 501px) {

  .white-block-1 {
    width: 100%;
    height: 660px;
    background-color: rgb(25, 25, 25);
}

}

.btn-pjt-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.button-pjt-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

#btn-pjt {
  width: 300px;
  height: 45px;
  background-color: #00b60c;
  border: none;
  border-radius: 25px;
  font-size: 26px;
  color: rgb(25, 25, 25);
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 0px 15px 0px #1b870590;
}

.opinion-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.opinion-text {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 40px;
}

.opinion-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    margin-top: 20px;
}



.black-block {
    width: 100%;
    height: 470px;
    background-color: rgb(25, 25, 25);
}

.localizacao-div {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
    width: 100%;
    height: 40px;
}

.localizacao-text {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 40px;
    margin-top: 20px;
}

.localizacao-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
}

.maps-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
}

.maps-content {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 300px;
}

#maps {
    object-fit: cover;
    width: 370px;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0px 17px 22px -3px rgba(0,0,0,0.1);
}

.maps-text-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.maps-text-content {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
}

.maps-text-content p {
    font-size: 17px;
    color: #686868;
    margin-bottom: 20px;
}

.button-map-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.button-map-content {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 40px;
}

#btn-map {
    width: 145px;
    height: 35px;
    background-color: #ff8800;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 20px;
}

.sn-div {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  width: 100%;
  height: 40px;
}

.sn-text {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 40px;
  margin-top: 20px;
}

.sn-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
}

.sn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 350px;
}

.sn-content {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 300px;
}

#sobre-nos {
  object-fit: cover;
  width: 370px;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 0px 17px 22px -3px rgba(0,0,0,0.1);
}   

/* alterar */
@media (max-width: 401px) {
    
    #maps {
        object-fit: cover;
        width: 300px;
    }
}

footer {
    width: 100%;
    height: 100px;
    background-color: #292929;
}

.down-information {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
}

.down-information p {
    margin-top: 20px;
    color: #414141;
}

.credits {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
}

.credits p {
    color: #414141;
}

.credits a {
    margin-top: 10px;
    text-decoration: none;
}

}

/* Desktop */

@media (min-width:999px) {

  .div-aquiles-direita {
    display: none;
  }

.header-fixed {
    width: 100%;
    height: 40px;
    background-color: rgb(28, 28, 28);
}

.header-contain {
    position: fixed;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(40, 40, 40);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 40px;
    background-color: rgba(28, 28, 28, 0.607);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 999999;
    box-shadow: 0px 7px 15px -3px rgba(70, 70, 70, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 60px;
}

.logo-container {
    width: 50%;
    height: 60px;
}

#logo-guide {
    width: 100px;
    margin-top: 5px;
}

.buttons-header {
  display: flex;
  justify-content: end;
  width: 90%;
  padding-left: 40px;
  margin-left: 60px;
}

.buttons-header ul {
  display: flex;
  font-size: 10px;
  margin-left: 20px;
}

.buttons-header li {
  margin-top: 14px;
  margin-right: 10px;
  height: 10px;
  display: flex;
}

.buttons-header li:hover {
  cursor: pointer;
  color: #797979;
  transform: scale(1.1);
  transition: all 0.5s;
}

#bolsa-compras {
  width: 11px;
  height: 11px;
  margin-right: 5px;
}

#telefone {
  width: 11px;
  height: 11px;
  margin-top: 20px;
}

#instagram {
  width: 11px;
  height: 11px;
  margin-top: 20px;
}

@media (max-width: 680px) {
  .buttons-header ul {
    display: flex;
    font-size: 13px;
    /* margin-left: 20px; */
  }

  .buttons-header li {
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
  }

  .buttons-header {
    display: flex;
    justify-content: end;
    width: 90%;
    padding-left: 30px;
    margin-left: 0px;
  }

}

.menu-div {
  display: none;
  width: 10%;
  height: 60px;
}

#menu {
  margin-top: 15px;
  margin-left: 10px;
  width: 27px;
}

.obras-1-content {
  display: block;
}

.obras-container-1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 300px;
}

.obras-base {
  display: flex;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin-right: 90px;
}

.obras-1-image {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}


#banner {
  width: 250px;
  border-radius: 20px;
}

#banner:hover {
  cursor: pointer;
}

.menu-options-div {
  width: 100%;
  height: 190px;
  display: none;
  justify-content: center;
  position: fixed;
  opacity: 0;
  margin-top: 50px;
  top: -100px;
  animation: appear 1s forwards;
  z-index: 999999;
}

.menu-fechar {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
  position: fixed;
  opacity: 0;
  top: -100px;
  animation: disappear 1s forwards;
  z-index: 999999;
}

.depo-desktop {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.depo-content {
  width: 90%;
  height: 480px;
}

.depo-up {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 49%;
  margin-top: 20px;
}

.depo-down {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 49%;
}

#depo-img-1 {
  width: 250px;
  margin: 10px;
  border-radius: 10px;
}

#depo-img-1:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s;
}

.menu-contain {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 220px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
  background-color: rgba(28, 28, 28, 0.742);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 10px;
}

.menu-content {
  width: 100%;
  height: 280px;
}

.options {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #ff8800;
  justify-content: center;
  margin-top: 10px;
  display: flex;

}

.options p {
  margin-top: 15px;
}

/* Main */

.text-main-container {
  margin-top: 10px;
    width: 100%;
    height: 120px;
}

.text-main-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.text-main-content p {
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #ff8800;
}

.text-main-content-2 {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 15px;
    
}

.text-main-content-2 span {
    font-family: 'Open Sans', sans-serif;
}

.pdt-procurados {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 550px;
    height: 40px;
    margin-top: 60px;
}

.pdt-content {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 20px;
}

.pdt-content p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-left: 30px;
}

@media (max-width: 373px) {
    .text-main-content p {
        text-align: center;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        color: #ff8800;
    }

    .text-main-content-2 {
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 60px;
        font-size: 18px;
    }

    .pdt-content p {
        font-size: 17px;
    }

}

.produto-1 {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 150px;
}

.detail-1 {
    width: 30%;
    height: 150px;
}

#detalhe-1 {
    width: 110px;
    height: 140px;
}

.produto-name {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 140px;
}

.produto-name p {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

.produto-name a {
    text-decoration: none;
}

.produto-2 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
}

.produto-name-2 {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 140px;
}

.produto-name-2 p {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

.produto-name-2 a {
    text-decoration: none;
}

.detail-2 {
    display: flex;
    justify-content: end;
    width: 30%;
    height: 150px;
}

#detalhe-2 {
    width: 110px;
    height: 140px;
}

.pdt-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.pdt-button-contain {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 40px;
}

#button-pdt {
    width: 145px;
    height: 35px;
    background-color: #00b60c;
    border: none;
    border-radius: 25px;
    font-size: 13px;
    color: rgb(25, 25, 25);
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 0px 15px 0px #1b870590;
}

#button-pdt {
  cursor: pointer;
}

.divisor {
    width: 100%;
    height: 10px;
    margin-top: 40px;
    background-color: #242424;
}

.divisory {
    width: 100%;
    height: 10px;
    background-color: #242424;
}

.white-block-1 {
    width: 100%;
    height: 590px;
    background-color: rgb(25, 25, 25);
}

@media (min-width: 501px) {

  .white-block-1 {
    width: 100%;
    height: 600px;
    background-color: rgb(25, 25, 25);
}

}

.btn-pjt-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.button-pjt-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

#btn-pjt {
  width: 145px;
    height: 35px;
    background-color: #00b60c;
    border: none;
    border-radius: 25px;
    font-size: 13px;
    color: rgb(25, 25, 25);
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 0px 15px 0px #1b870590;
}

#btn-pjt:hover {
  cursor: pointer;
}

.opinion-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.opinion-text {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 40px;
}

.opinion-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    margin-top: 20px;
}

.lines-desktop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
}

.lines-content {
  width: 90%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.lines-text-dr1 {
  display: flex;
  width: 50%;
  height: 400px;
}

.lines-text-dr1 p {
  margin-top: 50px;
}

.lines-img-esq1 {
  width: 50%;
  height: 400px;
}

#line-1-img {
  width: 250px;
  height: 300px;
  margin-left: 250px;
  margin-top: 50px;
  border-radius: 10px;
}

.black-block {
    width: 100%;
    height: 470px;
    background-color: rgb(25, 25, 25);
}

.localizacao-div {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
    width: 100%;
    height: 40px;
}

.localizacao-text {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 40px;
    margin-top: 20px;
}

.localizacao-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
}

.maps-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
}

.maps-content {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 300px;
}

#maps {
    object-fit: cover;
    width: 340px;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0px 17px 22px -3px rgba(0,0,0,0.1);
}

.maps-text-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.maps-text-content {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
}

.maps-text-content p {
    font-size: 14px;
    color: #686868;
    margin-bottom: 20px;
}

.button-map-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25px;
}

.button-map-content {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 25px;
}

#btn-map {
    width: 125px;
    height: 25px;
    background-color: #ff8800;
    border: none;
    border-radius: 25px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}

#btn-map:hover {
  cursor: pointer;
}

.sn-div {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  width: 100%;
  height: 40px;
}

.sn-text {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 40px;
  margin-top: 20px;
}

.sn-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
}

.sn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 350px;
}

.sn-content {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 300px;
}

#sobre-nos {
  object-fit: cover;
  width: 370px;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 0px 17px 22px -3px rgba(0,0,0,0.1);
}   

/* alterar */
@media (max-width: 401px) {
    
    #maps {
        object-fit: cover;
        width: 300px;
    }
}

footer {
    width: 100%;
    height: 50px;
    background-color: #292929;
}

.down-information {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20px;
}

.down-information p {
  font-size: 10px;
    margin-top: 10px;
    color: #414141;
}

.credits {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
}

.credits p {
  font-size: 10px;
  color: #414141;
}

.credits a {
    margin-top: 10px;
    text-decoration: none;
}

}